In [7]:
#Lists
courses = ['Geography', 'Math', 'Physics', 'CompSci']
A = print(len(courses))
B = print(courses)
C = print(len(courses))
D = print(courses[0]) # index 0
E = print(courses[-1]) # Last item of the list will always be -1
F = print(courses[0:2])
G = print(courses[:2])

4
['Geography', 'Math', 'Physics', 'CompSci']
4
Geography
CompSci
['Geography', 'Math']
['Geography', 'Math']

In [5]:
# List methods where you want to add items to the list
courses = ['History', 'Math', 'Physics', 'CompSci']

courses.append('Art') # Add to the list
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [6]:
# List methods where you want to insert items to the list
courses = ['History', 'Math', 'Physics', 'CompSci']

courses.insert(0,'Art') # Insert art at location 0 of the list
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci']

In [9]:
#Add values together
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']

courses.extend(courses_2) # Extend courses with courses_2
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']

In [10]:
#Remove values from list
courses = ['History', 'Math', 'Physics', 'CompSci']

courses.remove('Math') # Remove math from list
print(courses)

['History', 'Physics', 'CompSci']

In [11]:
#Order and sort the list
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.reverse() #reverses the list
print(courses)

['CompSci', 'Physics', 'Math', 'History']

In [12]:
#Sort in alphabetical order
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.sort() #Sorts the list in alphabetical order
print(courses)

['CompSci', 'History', 'Math', 'Physics']

In [13]:
# Order for numberical and alphabetical
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [1 , 6, 3, 2]

courses.sort()
nums.sort()
print(courses) # Sorts in alphabetical order
print(nums) #Sorts in numerical order

['CompSci', 'History', 'Math', 'Physics']
[1, 2, 3, 6]

In [16]:
# Descending Order for numberical and alphabetical
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [1 , 6, 3, 2]

courses.sort(reverse=True)
nums.sort(reverse=True)
print(courses) # Sorts in alphabetical order
print(nums) #Sorts in numerical order

['Physics', 'Math', 'History', 'CompSci']
[6, 3, 2, 1]

In [17]:
courses = ['History', 'Math', 'Physics', 'CompSci']
course_str = ', '.join(courses)
print(course_str)

History, Math, Physics, CompSci

### The following explains Immutable and Mutable lists

In [22]:
# Tuples are similar to lists Immutable

# Mutable
# list_1 = ['History', 'Math', 'Physics', 'CompSci']
# list_2 = list_1

# print(list_1)
# print(list_2)

# list_1[0] = 'Art'

# print(list_1)
# print(list_2)


#Immutable
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

# tuple_1[0] = 'Art' # Not possible to add into the index

# print(tuple_1)
# print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

### Using curly braces for {} sets

In [23]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}

print(cs_courses)
# Order will always change when executed. It doesn't care about order

{'Math', 'Physics', 'CompSci', 'History'}

In [24]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'} # Duplicate of Math

print(cs_courses)

{'Math', 'Physics', 'CompSci', 'History'}

In [25]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'} # Duplicate of Math

print('Math' in cs_courses)

True

In [28]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'} # Duplicate of Math
art_courses = {'History', 'Math', 'Art', 'Design'} # Duplicate of Math

print(cs_courses.intersection(art_courses)) # Intersection shows what is the same as the argument
print(cs_courses.difference(art_courses)) # Difference shows what is the different as the argument
print(cs_courses.union(art_courses)) # union prints all in the sets without duplicating

{'Math', 'History'}
{'Physics', 'CompSci'}
{'Math', 'Physics', 'Art', 'Design', 'CompSci', 'History'}