<a href="https://colab.research.google.com/github/moumar1/Pythonprojects/blob/main/1_app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Tutorial using Programming with Mosh**


---


Link is found:
https://www.youtube.com/watch?v=_uQrJ0TkZlc

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
pateint = " John Smith"
age = 20
is_new = True

print(pateint)
print(age)
print(is_new)

 John Smith
20
True

In [ ]:
# Input Functions

name = input(" What is your name? ")
colour = input("What is your favourite colour? ")
print(name + " likes " + colour)

 What is your name? John
What is your favourite colour? Blue
John likes Blue

In [ ]:
birth_year = input ("Birth year: ")
print(type(birth_year))
age = 2024 - int(birth_year) # String needs to be assigned to an integar
print(type(age))
print(age)

Birth year: 1998
<class 'str'>
<class 'int'>
26

In [ ]:
# Type Conversion
weight = input(" What is your Weight in pounds? ")
print(type(weight))
weight_kg = int(weight) * 0.45
print(type(weight_kg))
print(weight_kg)

 What is your Weight in pounds? 170
<class 'str'>
<class 'float'>
76.5

In [ ]:
# Python Strings # 29:39
course = "Python's course with tutorials" # Single and double
print(course)
sub = '''
Hi John
Hereis our first email to you
'''
print(sub)

Python's course with tutorials

Hi John
Hereis our first email to you

In [ ]:
course = 'Python for starters'
print(course[0]) # Collect the first char
print(course[-1]) # First character from the end
print(course[0:4]) # return characters in index

P
s
Pyth

In [ ]:
# Formatted Strings
first = 'John'
last = 'Smith'

message = first + ' [' + last +'] is a coder '
msg = f'{first} [{last}] is a coder' # Formatted string
# The place holder {} will hold the values of the string
print(message)
print(msg)

John [Smith] is a coder
John [Smith] is a coder

In [ ]:
# String methods
course = 'Python for Beginners'
print(len(course))
print(course.upper()) # upper case called methods
print(course.lower()) # Lower case

print('Python' in course) # Finding

20
PYTHON FOR BEGINNERS
python for beginners
True

In [ ]:
# Arithmetic operators
print(10+3)
print(10/3) # prints a decimal number
print(10//3) # For printing rounded number
print(10 % 3) # Prints remainder
print(10 ** 3) # Exponential

13
3.3333333333333335
3
1
1000

In [ ]:
x = 10
# x = x + 3
x += 3 # Augmented assignment Line 2 and 3 are the same
print(x)

13

In [ ]:
# 52:06
x = -2.9
print(round(x))
print(abs(x))

-3
2.9

In [ ]:
import math
math.ceil(2.9)
math.floor(2.9)

3

In [ ]:
# If statements 58:33
is_hot = False
is_cold = True

if is_hot:
  print("It's a Hot Day")
  print("Drink plenty of water")
elif is_cold:
  print("It's A Cold day")
  print("Wear Warm Clothes")
else:
  print("It's a loveley day")

It's A Cold day
Wear Warm Clothes

In [ ]:
buyer_credit = True
price = 1000000

if buyer_credit:
  down_payment = 0.1*price

else:
  down_payment = 0.2 * price

print(f"Down Payment: ${down_payment}")

Down Payment: $100000.0

In [ ]:
high_income = True
good_credit = True

if high_income and good_credit:
  print("Loan is eligible")
else:
  print("Not Eligible For Loan")

Loan is eligible

In [ ]:
temperature = input("What is the Temperature? ")
if int(temperature) >= 30:
  print("It's a Hot day")
else:
  print("It's not a Hot day")

What is the Temperature? 20
It's not a Hot day

In [ ]:
name = input("What is your name? ")
if (len(name) < 3):
  print("Name must be atleast 3 Characters Long")
elif  len(name) > 50:
  print(" Name Must Be Within 50 Characters")
else:
  print("Name Looks Good")

What is your name? mop
Name Looks Good

In [ ]:
# While loops
i = 1
while i <=5:
  print('*' * i)
  i = i+1
print("Done")

*
**
***
****
*****
Done

In [ ]:
# Guessing game
secret_number = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
  guess = int(input("Guess the number: "))
  guess_count += 1
  if guess == secret_number:
    print("you have guessed correct")
    break
else:
  print("sorry you have failed")

Guess the number: 9
you have guessed correct

In [ ]:
# 1:30:57
command = ""
started = False
while True:
  command = input("> ").lower()
  if command == "start":
    print("Car started")
  elif command == "stop":
    print("car has stopped")
  elif command == "help":
    print("""
start - car has started
stop - car has stopped
quit - exit game
    """)
  elif command == "quit":
    break
  else:
    print("Sorry I dont understand")

> quit

In [ ]:
# For Loops

for item in ['Mosh', 'John', 'Sarah' ]:
  print(item)

Mosh
John
Sarah

In [ ]:
# for loops
for item in range(3):
  print(item)

0
1
2

In [ ]:
#For loops
prices = [10, 20, 30]
total = 0
for i in prices:
  total = total + i
print(total)

# i would equal each value in the prices [10, 20, 30] it will
#loop till executed the full value in the brackets make sure
#indentation is correct

60

In [ ]:
# nested For Loop
for x in range (4):
  for y in range(3):
    print(f"{x}, {y}")
# first iteration x = 0 and inner loop y = 0
# control goes back in inner loop while holding outer loop
# 0,0, 0,1, 0,2, then exit x = 1 y = 0, 1,0 1,1 1,2

0, 0
0, 1
0, 2
1, 0
1, 1
1, 2
2, 0
2, 1
2, 2
3, 0
3, 1
3, 2

In [2]:
numbers = [5, 2, 5, 2, 2]

for x_count in numbers:
  output = ''
  for count in range(x_count):
    output = output + 'x'
  print(output)

xxxxx
xx
xxxxx
xx
xx

In [ ]:
# Lists
numbers = [0, 1, 13, 4, 5, 6, 150, 100]
numbers.sort()

print(numbers[-1])

150

In [ ]:
numbers = [0, 1, 13, 4, 5, 6, 150, 100]

max = numbers[0]
for number in numbers:
  if number > max:
    max = number
print(max)

150

In [14]:
# 2:01:59
matrix = [
    [1, 2 ,3],
    [4, 5, 6],
    [7, 8, 9]
]
# matrix[0] [1] # access first row and second value
# matrix [1]
for row in matrix:
  for item in row:
    print(item)

1
2
3
4
5
6
7
8
9

In [23]:
numbers = [5, 2, 1, 7, 4]
#numbers.append(13) # add to the list
#numbers.insert(0, 10) # insert position 0 add number 10
#numbers.remove(2) # remove a number
#numbers.pop() # remove last item in list
numbers.sort()
print(numbers)

[1, 2, 4, 5, 7, 13]

In [31]:
numbers = [5, 2, 1, 7, 4, 2, 5]
numbers.sort()
uniques = []
for i in numbers:
  if i not in uniques:
    uniques.append(i)
print(uniques)

[1, 2, 4, 5, 7]

In [ ]:
# Unpacking
co = (1, 2, 3)